.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.ipynb_checkpoints/
logs/*
!logs/.gitkeep
results/figures/*
!results/figures/.gitkeep
models/*
!models/.gitkeep
data/*
!data/raw/
data/raw/*
!data/raw/.gitkeep
!data/raw/*.csv
!data/processed/
data/processed/*
!data/processed/.gitkeep
*.egg-info/
source-code
source-code.zip
deepmedalign-data-preprocessed
deepmedalign-data-preprocessed.zip